body {
    margin: 0;
    padding: 0;
}

/* .calendarDay {
    min-height: 2.5em;
} */
.calendarDay:nth-child(even) {
    background-color: rgb(25, 25, 28);
}

.calendarDayContainer {

  display: grid;
  grid-template-columns: auto auto auto auto auto;
}